@media screen and (max-width: 767px) {
	.range-list h4 {
		display: inline;
	}

	.range-list a {
		display: block;
	}

	.range-list img {
		width: 33%;
		height: 33%;
		margin-right: 10px;
		margin-bottom: 30px;
		margin-top: 20px;
	}
}

.row.display-table {
	display: flex;
	flex-wrap: wrap;
}

.row.display-table > [class*='col-'] {
	flex-grow: 1;
}